{{include file='manager/public/head.html'}}
<body class="login-layout">
<div class="main-login-header">
    <div class="col-sm-10 col-sm-offset-1">
        <div id="logo"><img src="../../../../manager_statics/qwadmin/css/images/logo.png" height="60" width="477" alt="" /></div>
        <div id="urlWrapper"><a href="http://cx.ksls.com.cn/">首页</a></div>
    </div>

</div>
<div class="main-container login-main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
<!--                                        <i class="ace-icon fa fa-coffee green"></i>-->
<!--                                        <b>管理员登录</b>-->
                                        管理员登录
                                    </h4>

                                    <div class="space-6"></div>

                                    <form action="/manager_login/check_login" method="post">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" name="user"
                                                                   placeholder="用户名"/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" name="password"
                                                                   placeholder="密码"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <div class="space"></div>
                                            <label class="block clearfix">
														<span class="block input-icon ">
															<span class="inline"><input type="text" class="form-control"
                                                                                        name="verify" placeholder="验证码"
                                                                                        id="code" required/></span>
															<img style="cursor:pointer;" src="/manager_login/get_cap"
                                                                 width="90" height="30" title="看不清楚？点击刷新"
                                                                 onclick="this.src = '/manager_login/get_cap?'+new Date().getTime()">
														</span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                               <!-- <label class="inline">
                                                    <input type="checkbox" class="ace" name="remember" value="1"/>
                                                    <span class="lbl"> 记住我</span>
                                                </label>-->

                                                <button type="submit"
                                                        class="width-100 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">登录</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->
                    </div><!-- /.position-relative -->

                    <div class="navbar-fixed-top align-right">
                        <br/>
                        &nbsp;
                        <a id="btn-login-dark" href="#">Dark</a>
                        &nbsp;
                        <span class="blue">/</span>
                        &nbsp;
                        <a id="btn-login-blur" href="#">Blur</a>
                        &nbsp;
                        <span class="blue">/</span>
                        &nbsp;
                        <a id="btn-login-light" href="#">Light</a>
                        &nbsp; &nbsp; &nbsp;
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
<div id='wave'>
    <canvas id="waveCont" height="288px" style="width:100%"></canvas>
</div>
<div id="copyright">
  <p>昆山市住房和城乡建设局<br />
     苏州曼纳吉信息科技有限公司 技术支持</p>
</div>
<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='/manager_statics/qwadmin/js/jquery.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/manager_statics/qwadmin/js/jquery1x.js'>" + "<" + "/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/manager_statics/qwadmin/js/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });


    //you don't need this, just used for changing background
    jQuery(function ($) {
        $('#btn-login-dark').on('click', function (e) {
            $('body').attr('class', 'login-layout');
            $('#id-text2').attr('class', 'white');
            $('#id-company-text').attr('class', 'blue');

            e.preventDefault();
        });
        $('#btn-login-light').on('click', function (e) {
            $('body').attr('class', 'login-layout light-login');
            $('#id-text2').attr('class', 'grey');
            $('#id-company-text').attr('class', 'blue');

            e.preventDefault();
        });
        $('#btn-login-blur').on('click', function (e) {
            $('body').attr('class', 'login-layout blur-login');
            $('#id-text2').attr('class', 'white');
            $('#id-company-text').attr('class', 'light-blue');

            e.preventDefault();
        });

    });
</script>
<script>

    //波浪线
    function SiriWave(opt){
        this.opt = opt || {};

        this.K = 2;
        this.F = 6;
        this.speed = this.opt.speed || 0.001;
        this.noise = this.opt.noise || 0;
        this.phase = this.opt.phase || 0;

        this.canvas = document.getElementById('waveCont');
        this.width = this.canvas.width;
        this.height = this.canvas.height;
        this.MAX = (this.height/2)-4;

        if (this.canvas.getContext) {
            this.ctx = this.canvas.getContext('2d');
        }

        this.run = false;
    }
    SiriWave.prototype = {

        _globalAttenuationFn: function(x){
            return Math.pow(this.K*4/(this.K*4+Math.pow(x,4)),this.K*2);
        },

        _drawLine: function(attenuation, color, xw,width){
            if (!this.ctx) {
                return;
            }
            this.ctx.moveTo(0,0);
            this.ctx.beginPath();
            this.ctx.strokeStyle = color;
            this.ctx.lineWidth = width || 1;
            var x, y;
            for (var i=-this.K; i<=this.K; i+=0.005) {
                x = this.width*((i+this.K)/(this.K*2))*(xw || 1);
                y = this.height/2 + this.noise * this._globalAttenuationFn(i) * (1/attenuation) * Math.sin(this.F*i-this.phase);
                this.ctx.lineTo(x, y);
            }
            this.ctx.stroke();
        },

        _clear: function(){
            if (!this.ctx) {
                return;
            }
            this.ctx.globalCompositeOperation = 'destination-out';
            this.ctx.fillRect(0, 0, this.width, this.height);
            this.ctx.globalCompositeOperation = 'source-over';
        },

        _draw: function(){
            if (!this.run) return;
            this.phase = (this.phase+this.speed)%(Math.PI*64);
            this._clear();
            this._drawLine(4, 'rgba(225,238,255,0.6)',2.2,1);
            this._drawLine(2, 'rgba(225,238,255,0.4)',2,0.8);
            this._drawLine(1, 'rgba(225,238,255,0.2)',1.8,0.5);
            if (window.requestAnimationFrame) {
                requestAnimationFrame(this._draw.bind(this), 10000);
            }
        },

        start: function(){
            this.phase = 0;
            this.run = true;
            this._draw();
        },

        stop: function(){
            this.run = false;
            this._clear();
        },

        setNoise: function(v){
            this.noise = Math.min(v, 1)*this.MAX;
        },

        setSpeed: function(v){
            this.speed = v;
        },

        set: function(noise, speed) {
            this.setNoise(noise);
            this.setSpeed(speed);
        }
    };
    var SW = new SiriWave({
        width: 640,
        height: 288
    });
    SW.setSpeed(0.01);
    SW.setNoise(0.6);
    SW.start();

</script>
</body>
</html>
