{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                    
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="save_form" class="form-horizontal" role="form" action="{{$update_url}}" method="post">
                             <input type="hidden" id="record_id" name="record_id" value="{{$data.record_id|default:''}}">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="agent_id"> 事件状态 </label>
                                <div class="col-sm-9 yy_m_7">
                                   {{if $data.status == 1}}<span class="label label-success">有效</span>{{/if}}
                                    {{if $data.status == -1}}<span class="label label-danger">作废</span>{{/if}}
                               
                                </div>
                            </div>
                             <div class="space-4"></div>
                             <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 事件分数 </label>
                                <div class="col-sm-9 yy_m_7">{{if $data.event_type_type == 1}}+{{/if}}{{$data.score}}
                                   
                                </div>
                            </div>
                             <div class="space-4"></div>
                             <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 创建时间 </label>
                                <div class="col-sm-9 yy_m_7">{{$data.create_time}}
                                   
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="agent_id"> 执业经纪人 </label>
                                <div class="col-sm-9">
                                   <input type="text" readonly="readonly" required="required" class="rcol-xs-10 col-sm-6" value="{{$data.agent_name_}}({{$data.agent_job_code_}})">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                        

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="type_id"> 一级类别 </label>
                               <div class="col-sm-9">
                                   <input type="text" readonly="readonly" required="required" class="rcol-xs-10 col-sm-6" value="{{$data.event_type_name}}">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>

                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="event_id"> 事件列表 </label>
                                <div class="col-sm-9">
                                   <input type="text" readonly="readonly" required="required" class="rcol-xs-10 col-sm-6" value="{{$data.event_name}}">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="event_date"> 事件时间 </label>
                                <div class="col-sm-9">
                                    <input type="text" {{if $data.status == 1}}onfocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy-MM-dd'})"{{/if}} id="event_date" name="event_date" required="required" class="rcol-xs-10 col-sm-6" value="{{$data.event_date}}">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                              <div class="space-4"></div>
                                 <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="record_fact"> 事实 </label>
                                <div class="col-sm-9">
                                    <textarea name="record_fact"  {{if $data.status != 1}}readonly="readonly"{{/if}} id="record_fact" maxlength="150" style="width:60%;height:100px;">{{$data.record_fact}}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                                 <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="remark"> 备注 </label>
                                <div class="col-sm-9">
                                    <textarea name="remark" id="remark" maxlength="150" {{if $data.status != 1}}readonly="readonly"{{/if}} style="width:60%;height:100px;">{{$data.remark}}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                                 <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="del_remark"> 作废备注 </label>
                                <div class="col-sm-9">
                                    <textarea name="del_remark" id="del_remark" maxlength="150" {{if $data.status != 1}}readonly="readonly"{{/if}} style="width:60%;height:100px;">{{$data.del_remark|default:''}}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="col-md-offset-2 col-md-9">
                                {{if $data.status == 1}}
                                <button id="save_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    修 改

                                </button>
                                &nbsp; &nbsp; &nbsp;
                            <button id="cancel_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    作 废

                                </button>
                                &nbsp; &nbsp; &nbsp;
                                {{/if}}
                                <a href="{{$return_url}}" class="btn" type="reset">

                                    <i class="icon-undo bigger-110"></i>

                                    返 回

                                </a>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->
<script src="/manager_statics/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="/manager_statics/app/select2.full.min.js"></script>
<link rel="stylesheet" href="/manager_statics/app/select2.min.css">

<script type="text/javascript">
    

    $("#save_btn").click(function(){
        var event_date = $.trim($("#event_date").val());
        if(event_date == '') {
            layer.msg('请选择事件时间', {icon: 2});
            return false;
        }
        var record_fact = $.trim($("#record_fact").val());
        if(record_fact == ""){
            layer.msg('请填写事实!', {icon: 3});
            return false;
        }
        var remark = $.trim($("#remark").val());
        if(remark == '') {
            layer.msg('请填写备注', {icon: 2});
            return false;
        }
        $("#save_form").submit();
    })
 
 $("#cancel_btn").click(function(){
        var record_id = $.trim($("#record_id").val());
        var del_remark = $.trim($("#del_remark").val());
        if(del_remark == '') {
            layer.msg('请填写作废备注', {icon: 2});
            return false;
        }
        var layerIndex = layer.confirm('是否确认作废？作废后无法恢复' , {
            btn: ['确认','取消'], //按钮
            area: ['200px', 'auto']
        }, function(){
            $.post('{{$cancel_url}}',{record_id: record_id, del_remark:del_remark}, function(html){
                var data = JSON.parse(html);
                if(data.status == 1){
                    location.reload()
                }else{
                    layer.close(layerIndex);
                    layer.msg(data.msg, {icon: 2});
                }
            });

        }, function(){

        });
    })

</script>
</body>
</html>
