{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}
<link rel="stylesheet" href="/manager_statics/app/lightbox.min.css?v3"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="tabbable">
                             <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#faq-tab-1">
                                                <i class="blue ace-icon fa fa-question-circle bigger-120"></i>
                                                经纪人基本信息
                                            </a>
                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#faq-tab-2">
                                                <i class="green ace-icon fa fa-user bigger-120"></i>
                                                事业轨迹
                                            </a>
                                        </li>

                                    </ul>

                                     <div class="tab-content no-border padding-24">
                                         
                                            <div id="faq-tab-1" class="tab-pane fade in active">
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-user bigger-110"></i>
                                                经纪人基本信息
                                            </h4>

                                            <div class="space-8"></div>
                                          
                                             <div class="form-group">
                                           
                                    <div class="col-sm-9">
                                      <form class="form-horizontal" role="form" action="" method="post">
                            <input type="hidden" name="id" id="agent_id" value="{{$data.id|default:''}}">
                                          <div class="profile-user-info profile-user-info-striped">
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 姓名 </div>
                                                  <div class="profile-info-value">
                                                      <span>{{$data.name|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 职业证号 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.job_code|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 身份证号 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.card|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 联系电话 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.phone|default:''}}</span>
                                                  </div>
                                              </div>
                                              {{if $data.id|default:'' != ''}}
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 企业 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.company_name|default:''}}</span>
                                                  </div>
                                              </div>
                                              {{/if}}
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 原职证号 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.old_job_code|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 信用分 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.score|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 信用等级 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.grade_name|default:''}}</span>
                                                  </div>
                                              </div>
                                              {{if $data.grade_no == 1}}
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 禁业时间 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.forbid_time|default:''}}</span>
                                                  </div>
                                              </div>
                                              {{/if}}
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 状态 </div>

                                                  <div class="profile-info-value">
                                                      <span>
                                                          {{if $data.flag == 2}}<span class="label label-success">有效</span>{{/if}}
                                            {{if $data.flag == 1}}<span class="label label-default">离昆</span>{{/if}}
                                            {{if $data.flag == -1}}<span class="label label-danger">无效</span>{{/if}}
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>

                                          <h4 class="blue">
                                              <i class="green ace-icon fa fa-list bigger-110"></i>
                                              身份证图片
                                          </h4>

                                          <ul class="ace-thumbnails clearfix">
                                              {{if !empty($data.code_img_list) }}
                                              {{foreach from=$data.code_img_list key=k item=item}}
                                              <li>
                                                  <a class="example-image-link" href="{{$item.img}}" data-lightbox="example_num-2" data-title="经纪人身份证图片">
                                                      <img width="150" height="150" alt="150x150" src="{{$item.img}}?imageView2/0/w/200/h/200/q/75|imageslim" />
                                                  </a>
                                              </li>

                                              {{/foreach}}
                                              {{/if}}

                                          </ul>

                                          <h4 class="blue">
                                              <i class="green ace-icon fa fa-list bigger-110"></i>
                                              职业证图片
                                          </h4>
                                          <ul class="ace-thumbnails clearfix">
                                              {{if !empty($data.job_img_list) }}
                                              {{foreach from=$data.job_img_list key=k item=item}}
                                              <li>
                                                  <a class="example-image-link" href="{{$item.img}}" data-lightbox="example_num1" data-title="经纪人职业证图片">
                                                      <img width="150" height="150" alt="150x150" src="{{$item.img}}?imageView2/0/w/200/h/200/q/75|imageslim" />
                                                  </a>
                                              </li>

                                              {{/foreach}}
                                              {{/if}}

                                          </ul>
                        
                        </form>
                                    </div>
                                </div>
                          
                                         
                                </div>
                                  <div id="faq-tab-2" class="tab-pane fade">
                                      <form id="track_form">
                                          <input type="hidden" name="agent_id" value="{{$data.id|default:''}}">

                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-user bigger-110"></i>
                                                事业轨迹
                                            </h4>

                                            <div class="space-8"></div>
                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <div class="dataTables_filter">
                                                        <label>search:<input type="text" name="keyword" id="search_" placeholder="公司名称">&nbsp;<a href="javascript:void(0);" id="btn_add_agent" class="btn btn-white btn-xs btn-primary">搜 索</a></label>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="form-group" id="ajax_div">
                                           

                                            </div>
                                      </form>
                                         
                                </div>
                            
                    
                            </div>

                        </div>
                      
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->
<script src="/manager_statics/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="/manager_statics/app/ajaxfileupload.js"></script>
<script type="text/javascript" src="/manager_statics/app/lightbox-plus-jquery.min.js?v2"></script>
<script type="text/javascript">
    var track_page = 1;
    ajax_get_table('track_form', 1);
    function ajax_get_table(form, page) {
        track_page = page; //当前页面 保存为全局变量
        $.ajax({
            type: "POST",
            url: "/manager_login/show_agent_track/" + page,//+tab,
            data: $('#' + form).serialize(),// 你的formid
            success: function (data) {
                $("#ajax_div").html('');
                $("#ajax_div").append(data);
            }
        });
    }

    $("#btn_add_agent").click(function(){
        ajax_get_table('track_form', 1);
    })

</script>
</body>
</html>
