{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}
<link rel="stylesheet" href="/manager_statics/app/lightbox.min.css?v3"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="tabbable">
                             <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#faq-tab-1">
                                                <i class="blue ace-icon fa fa-question-circle bigger-120"></i>
                                                从业人员申请
                                            </a>
                                        </li>

                                    </ul>

                                     <div class="tab-content no-border padding-24">
                                         
                                            <div id="faq-tab-1" class="tab-pane fade in active">
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-user bigger-110"></i>
                                                从业人员申请
                                            </h4>

                                            <div class="space-8"></div>
                                          
                                             <div class="form-group">
                                           
                                    <div class="col-sm-9">

                            <input type="hidden" name="id" id="employees_id" value="{{$data.id|default:''}}">
                                          <div class="profile-user-info profile-user-info-striped">
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 姓名 </div>
                                                  <div class="profile-info-value">
                                                      <span>{{$data.name|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 身份证号 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.card|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 联系电话 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.phone|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 从业机构 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.company_name|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 所属社区 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.t_name|default:''}}</span>
                                                  </div>
                                              </div>

                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 申请时间 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.cdate|default:''}}</span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 状态 </div>

                                                  <div class="profile-info-value">
                                                      <span>
                                                          {{if $data.flag == 2}}<span class="label label-success">通过</span>{{/if}}
                                            {{if $data.flag == 1}}<span class="label label-default">待审</span>{{/if}}
                                            {{if $data.flag == -1}}<span class="label label-danger">拒绝</span>{{/if}}
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="profile-info-row">
                                                  <div class="profile-info-name"> 申请备注 </div>

                                                  <div class="profile-info-value">
                                                      <span>{{$data.remark|default:''}}</span>
                                                  </div>
                                              </div>
                                          </div>

                                          <h4 class="blue">
                                              <i class="green ace-icon fa fa-list bigger-110"></i>
                                              身份证图片
                                          </h4>

                                          <ul class="ace-thumbnails clearfix">
                                              {{if !empty($data.code_img_list) }}
                                              {{foreach from=$data.code_img_list key=k item=item}}
                                              <li>
                                                  <a class="example-image-link" href="{{$item.img}}" data-lightbox="example_num-2" data-title="经纪人身份证图片">
                                                      <img width="150" height="150" alt="150x150" src="{{$item.img}}?imageView2/0/w/200/h/200/q/75|imageslim" />
                                                  </a>
                                              </li>

                                              {{/foreach}}
                                              {{/if}}

                                          </ul>
                        
                                        <h4 class="blue">
                                        <i class="green ace-icon fa fa-list bigger-110"></i>
                                        个人证件照
                                            </h4>
                                        <ul class="ace-thumbnails clearfix">
                                            {{if !empty($data.person_img_list) }}
                                            {{foreach from=$data.person_img_list key=k item=item}}
                                            <li>
                                                <a class="example-image-link" href="{{$item.img}}" data-lightbox="example_num3" data-title="经纪人执业证图片">
                                                    <img width="150" height="150" alt="150x150" src="{{$item.img}}?imageView2/0/w/200/h/200/q/75|imageslim" />
                                                </a>
                                            </li>

                                            {{/foreach}}
                                            {{/if}}

                                        </ul>
                                    </div>
                              </div>
                          
                                         
                                </div>

                            
                    
                            </div>

                        </div>
                        <hr />
                        <div class="col-md-offset-2 col-md-9">
                            <button id="pass_btn" class="btn btn-info" type="button">

                                <i class="icon-ok bigger-110"></i>

                                通过

                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <a href="/manager/employees_list" class="btn" type="reset">

                                <i class="icon-undo bigger-110"></i>

                                返 回

                            </a>
                            &nbsp; &nbsp; &nbsp;
                            <button id="cancel_btn" class="btn btn-danger" type="button">

                                <i class="icon-ok bigger-110"></i>

                                拒绝

                            </button>

                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->
<script src="/manager_statics/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="/manager_statics/app/ajaxfileupload.js"></script>
<script type="text/javascript" src="/manager_statics/app/lightbox-plus-jquery.min.js?v2"></script>
<script type="text/javascript">

</script>
</body>
</html>
