<!doctype html>
<html class="no-js">
<head>
 {{include file='homepage/public/head.html'}}
</head>
<body>



<div class="ind_main">
  <div class="ind_main_inner ">
       <div class="ind_head">
        {{include file='homepage/public/logo.html'}} 
       </div>
       <div class="search_box">


            <ul class="slide02-control" id ="slide02-control">
                    <li><a href="">公司查询<i class="am-icon-angle"></i></a></li>
                    <li><a href="">从业人员查询<i class="am-icon-angle"></i></a></li>
                </ul>

              <div id="slide02" class="tab">
                    <div class="content" style="display:block">
                        <form action="/home/company_list" method="get" id="search_company_form">
                           <div class="s-ipt">
                            <input type="search" name="c_k" placeholder="请输入公司名/税号/法定代表人姓名进行查询" class="search_ipt" />
                            <a href="javascript:" id="company_btn" class="search-btn"></a>
                          </div>
                        </form>
                    </div>
                    <div class="content" style="display: none">
                          <form action="/home/agent_list" method="get" id="search_agent_form">
                           <div class="s-ipt">
                            <input type="search" name="a_k" placeholder="请输入经纪人证号/经纪人姓名/信息卡号" class="search_ipt" />
                            <a href="javascript:" id="agent_btn" class="search-btn"></a>
                          </div>
                        </form>
                    </div>
                </div>




<!--           <div class="am-tabs" data-am-tabs>
  <ul class="am-tabs-nav am-nav am-nav-tabs">
    <li class="am-active"><a href="javascript: void(0)">公司查询</a></li>
    <li><a href="javascript: void(0)">经纪人查询</a></li>
  </ul>

  <div class="am-tabs-bd">
    <div class="am-tab-panel am-active">
      <form action="">
         <div class="s-ipt">
          <input type="search" placeholder="请输入公司名/税号/法定代表人姓名进行查询" class="search_ipt" />
          <a href="javascript:" class="search-btn"></a>
        </div>
      </form>
    </div>
    <div class="am-tab-panel">
      <form action="">
        <div class="s-ipt">
          <input type="search" placeholder="请输入公司名/税号/法定代表人姓名进行查询" class="search_ipt" />
         <a href="javascript:" class="search-btn"></a>
        </div>
        </form>
    </div>
  </div>
</div>
 -->


          
       </div>
  </div>
    <div class="f-tr"><p>主办单位：昆山市住房和城乡建设局  承办单位：苏州曼纳吉信息科技有限公司  技术支持：苏州曼纳吉信息科技有限公司 苏ICP 备10017206号-4</p></div>
</div>


{{include file='homepage/public/foot.html'}}
<script type="text/javascript">
$(function(){
      new Slide({
            target: $( '#slide02 .content'),
            control: $( '#slide02-control li'),
            type:"click"
        });

      $("#company_btn").click(function(){
        $("#search_company_form").submit();
      })

      $("#agent_btn").click(function(){
        $("#search_agent_form").submit();
      })
})
</script>
</body>
</html>
