<!doctype html>
<html class="no-js">
<head>
    {{include file='homepage/public/head.html'}}
</head>
<body class="page">
{{include file='homepage/public/logo.html'}}
   <div class="page-bd">
    <div class="main1200">
   
<div class="container">
          <div class="company-info apply-info person-change">
  
     <div class="credit-result">
        <ul class="credit-menu apply-menu">
            <li><a href="/agent/person_change" class="menu-link"><span><em></em>信息修改</span></a></li>
            <li><a href="/agent/add_apply" class="menu-link"><span><em></em>人事申请</span></a></li>
            <li><a href="/agent/apply_list" class="on"><span><em></em>申请列表</span></a></li>
        </ul>
        <div class="credit-txt">
         <table  cellpadding="0" cellspacing="0" class="credit-table" id="JsxTable">
            <thead>
                <th width="12%">申请时间</th>
                <th width="24%">原公司</th>
                <th width="24%">新公司</th>
                <th width="12%">状态</th>
                <th width="8%">其他</th>
            </thead>
            <tbody>
            {{foreach from=$data.res_list key=key item=item}}
            <tr>
                <td>{{$item.cdate|date_format:"%Y-%m-%d"}}</td>
                <td>{{if $item.old_company_id == -1}}--非执业--{{else}}{{$item.c1_name_}}{{/if}}</td>
                <td>{{if $item.new_company_id == -1}}--非执业--{{else}}{{$item.c2_name_}}{{/if}}</td>
                <td>{{if $item.status == 1}}申请中{{/if}}{{if $item.status == 2}}通过{{/if}}{{if $item.status == -2}}系统作废{{/if}}{{if $item.status == -1}}审核作废{{/if}}</td>
                <td>
                    <a href="/agent/apply_detail/{{$item.id}}" target="_blank" class="agentMore">详情</a>
                </td>
            </tr>
            {{/foreach}}
            </tbody>
         </table>

         <div class="page">
             {{$pager}}
         </div>
        </div>
       </div>


          </div>           
      </div>


    </div>
   </div>

<!-- 以上页面内容 开发时删除 -->

{{include file='homepage/public/foot.html'}}
<script>

$(function(){

});


</script>
</body>
</html>
