<!doctype html>
<html class="no-js">
<head>
 {{include file='homepage/public/head.html'}}
</head>
<body class="page">
   <div class="page-hd">
   {{include file='homepage/public/logo.html'}} 
 </div>
<div class="page-bd">
    <div class="main1200">
      <div class="search_box">
          <form action="/home/agent_list" method="get" id="search_agent_form">
                           <div class="s-ipt">
                            <input type="search" name="a_k" placeholder="请输入经纪人证号/经纪人姓名" value="{{$data.a_k|default:''}}" class="search_ipt" />
                            <a href="javascript:" id="agent_btn" class="search-btn"></a>
                          </div>
                        </form>
      </div>
    <div class="company-info">
      <p class="result-p">共计搜索到<i class="num">{{$data.total_rows|default:'0'}}</i>位符合条件的经纪人</p>
       {{foreach from=$data.res_list key=k item=v}}
 <a href="/home/agent_detail/{{$v.id}}" class="result-alink">
        <dl class="res-dl">
          <dt>{{$v.name}}</dt>
          <dd>
            <p>执业证号：{{$v.job_code}}</p>
            <p>电话号码：{{$v.phone}}</p>
            <p>信用等级：{{$v.b_grade_name_}}</p>
            <p>所属企业：{{$v.company_name_|default:'-'}}</p>
          </dd>
      </dl>  
     </a>
        {{/foreach}}
     
   
     <div class="clear"></div>
     <div id="company_page" class="page-fy">
            {{$pager}}
       </div>
    </div>



      </div>
   </div>

       </div>
  </div>
</div>



<!-- 以上页面内容 开发时删除 -->


{{include file='homepage/public/foot.html'}}
<script>

$(function(){
  /**
     * 模拟select
     **/
    $(".select-header").click(function(){
        $(this).parent().siblings(".select-box").find(".select-content").slideUp("fast");
        if($(this).siblings(".select-content").is(":hidden")){
            $(this).addClass("select-arrow");
            $(this).siblings(".select-content").slideDown("fast");
            var evt =  new Object;
            if ( typeof(window.event) == "undefined" ){//如果是火狐浏览器
                evt = arguments.callee.caller.arguments[0];
            }else{
                evt = event || window.event;
            }
            evt.cancelBubble = true;
        }else{
            $(this).removeClass("select-arrow");
            $(this).siblings(".select-content").slideUp("fast");
      //去除事件冒泡
            var evt =  new Object;
            if ( typeof(window.event) == "undefined" ){//如果是火狐浏览器
                evt = arguments.callee.caller.arguments[0];
            }else{
                evt = event || window.event;
            }
            evt.cancelBubble = true;
        }
    });
  $(document).click(function(){
        $(".select-header").removeClass("select-arrow");
        $(".select-content").slideUp("fast");
    });
    $(".select-content li").on("click",function(){
        $(this).parent().siblings(".select-header").removeClass("select-arrow");
        $(this).parent().siblings(".select-header").text($(this).text()).end().slideUp("fast");
    });
    $(".select-content li").hover(function(){
        $(this).css("background-color","#cfcfcf");
    },function(){
        $(this).css("background-color","#fff");
    });

    $("#agent_btn").click(function(){
        $("#search_agent_form").submit();
      })

});


</script>
</body>
</html>
