<!doctype html>
<html class="no-js">
<head>
    {{include file='homepage/public/head.html'}}
</head>
<body class="page">
{{include file='homepage/public/logo.html'}}
   <div class="page-bd">
    <div class="main1200">
   
<div class="container">
          <div class="company-info apply-info person-change">
  
     <div class="credit-result">
        <ul class="credit-menu apply-menu">
            <li><a href="person-change.html" class="menu-link"><span><em></em>信息修改</span></a></li>
            <li><a href="add_track.html" class="menu-link"><span><em></em>人事申请</span></a></li>
            <li><a href="person-change-list.html" class="on"><span><em></em>申请列表</span></a></li>
        </ul>
        <div class="credit-txt">
         <table  cellpadding="0" cellspacing="0" class="credit-table" id="JsxTable">
            <thead>
                <th width="12%">申请时间</th>
                <th width="24%">原公司</th>
                <th width="24%">新公司</th>
                <th width="12%">状态</th>
                <th width="8%">其他</th>
            </thead>
            <tbody>
            
            </tbody>
         </table>

         <div class="page">
             
         </div>
        </div>
       </div>


          </div>           
      </div>


    </div>
   </div>

<!-- 以上页面内容 开发时删除 -->

{{include file='homepage/public/foot.html'}}
<script>

$(function(){

});


</script>
</body>
</html>
