{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}
<link rel="stylesheet" href="/manager_statics/qwadmin/css/colorbox.css"/>
<style>
    #uploadImgcontainer li{

    }
</style>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="save_form" class="form-horizontal" role="form" action="/manager/company_pending_save" method="post">
                            <input type="hidden" name="folder" value="{{$time}}" id="folder">
                            <input type="hidden" id="company_id" name="company_id" value="{{$data.id|default:''}}">
                           <div class="tabbable">
                                    <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#faq-tab-1">
                                                <i class="blue ace-icon fa fa-question-circle bigger-120"></i>
                                                企业基本信息
                                            </a>
                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#faq-tab-2">
                                                <i class="green ace-icon fa fa-user bigger-120"></i>
                                                执业经纪人
                                            </a>
                                        </li>
                                        {{if $data.id|default:'' > 0}}
                                        <li>
                                            <a data-toggle="tab" href="#faq-tab-3">
                                                <i class="red ace-icon fa fa-archive bigger-120"></i>
                                                年审记录
                                            </a>
                                        </li>
                                        {{/if}}
                                    </ul>

                                    <div class="tab-content no-border padding-24">
                                        <div id="faq-tab-1" class="tab-pane fade in active">
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               企业信息
                                            </h4>

                                            <div class="space-8"></div>
                                            {{if $data.id|default:'' > 0}}
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label no-padding-right" for="company_name"> 当前信用等级 </label>
                                                <div class="col-sm-9 yy_m_7">
                                                    {{$data.b_grade_name_|default:''}}
                                                </div>
                                            </div>
                                            <div class="space-4"></div>
                                            {{/if}}
                                        <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="company_name"> 企业名称 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="company_name" name="company_name" class="rcol-xs-10 col-sm-5" value="{{$data.company_name|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label no-padding-right" for="company_name"> 区镇 </label>

                                                    {{if $data.town_id|in_array:$allow_t || $group_id ==1 || $data.id|default:'' == ''}}
                                                    <div class="col-sm-4">
                                                    <select class="form-control" id="town_id" name="town_id">
                                                        <option>-请选择-</option>
                                                        {{foreach from=$town_list key=k1 item=v1}}
                                                        {{if $v1.id|in_array:$allow_t || $group_id ==1}}
                                                        <option value="{{$v1.id}}" {{if $data.town_id == $v1.id}}selected{{/if}}>{{$v1.name}}</option>
                                                        {{/if}}
                                                        {{/foreach}}
                                                    </select>
                                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                                    </div>
                                                    {{else}}
                                                <div class="col-sm-9">
                                                    <input type="text" readonly="readonly" class="rcol-xs-10 col-sm-5" value="{{$data.t_name_}}">
                                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                                </div>
                                                    {{/if}}


                                            </div>
                                            <div class="space-4"></div>
                                        <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" style="font-size:smaller" for="business_no"> 统一社会信用代码 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="business_no" name="business_no" class="rcol-xs-10 col-sm-5 js4ABC_num" value="{{$data.business_no|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                     <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="register_path"> 注册地址 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="register_path" name="register_path" class="rcol-xs-10 col-sm-5" value="{{$data.register_path|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                         <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="business_path"> 经营地址 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="business_path" name="business_path" class="rcol-xs-10 col-sm-5" value="{{$data.business_path|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>

                                            <!--<div class="space-4"></div>

                                            <div class="form-group">
                                                <label class="col-sm-1 control-label no-padding-right" for="record_num"> 备案号 </label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="record_num" name="record_num" class="rcol-xs-10 col-sm-5" value="{{$data.record_num|default:''}}">
                                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                                </div>
                                            </div>
                                        <div class="space-4"></div>

                                         <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="issuing_date"> 发证日期 </label>
                                        <div class="col-sm-9">
                                        <input type="text" onfocus="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd'})"  id="issuing_date" name="issuing_date" class="rcol-xs-10 col-sm-5" value="{{$data.issuing_date|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>-->
                                        <div class="space-4"></div>

                                         <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="company_phone"> 企业电话 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="company_phone" name="company_phone"  class="rcol-xs-10 col-sm-5" value="{{$data.company_phone|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>

                                         <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="director_name"> 负责人姓名 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="director_name" name="director_name"  class="rcol-xs-10 col-sm-5" value="{{$data.director_name|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>

                                         <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="director_phone"> 负责人电话 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="director_phone" name="director_phone"  class="rcol-xs-10 col-sm-5" value="{{$data.director_phone|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                             <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               法人信息
                                            </h4>

                                            <div class="space-8"></div>
                                         <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="legal_name"> 法人姓名 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="legal_name" name="legal_name"  class="rcol-xs-10 col-sm-5" value="{{$data.legal_name|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="legal_phone"> 法人电话 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="legal_phone" name="legal_phone"  class="rcol-xs-10 col-sm-5" value="{{$data.legal_phone|default:''}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               上传图片
                                            </h4>

                                            <div class="space-8"></div>
                                            <div class="form-group">

                                                <div class="col-sm-9">
                                                    <a href="javascript:" class="btn btn-white btn-xs btn-primary" onclick="triggerFileUpload(1)">上 传</a>


                                                </div>

                                            </div>
                                            <div class="form-group">


                                                <div class="col-sm-10">

                                                    <ul id="uploadImgcontainer" class="ace-thumbnails clearfix" style="width: 95%">
                            {{if !empty($data.img) }}
                            {{foreach from=$data.img item=item}}
                            <li>
                                <a href="{{$item.img_path}}" title="图片资料" data-rel="colorbox">
                                <img src="{{$item.img_path}}?imageView2/0/w/200/h/200/q/75|imageslim" alt="" style="height: 120px">
                                    </a>
                                <span class="delete-this" onclick="del_pic(this);"><i></i></span>
                               <input type="hidden" name="pic_short[]" class="pic_short" value="{{$item.img_path}}">
                             
                            </li>
                            {{/foreach}}
                            {{/if}}
                                                    </ul>

                                                </div>

                                            </div>

                                             <div class="space-4"></div>
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               企业信用指标信息
                                            </h4>
                                            <div class="form-group">
                                             <label class="col-sm-1 control-label no-padding-right" for="fz_num"> 分支机构数量 </label>
                                        <div class="col-sm-9">
                                        <input type="text" id="fz_num" name="fz_num"  class="rcol-xs-10 col-sm-5 js4phone" value="{{$data.fz_num|default:'0'}}">
                                            <span class="help-inline col-xs-12 col-sm-7"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-1 control-label no-padding-right"></label>
                                                <div class="col-sm-9" id="check_list">
                                                    {{foreach from=$icon_list key=k item=v}}
                                                    <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="icon_no_{{$v.icon_no}}" data_class = "icon_list_{{$v.icon_class}}" class="icon_list_{{$v.icon_class}}"  name="icon_list[]" {{if $v.is_check_ == 1}}checked="checked"{{/if}} value="{{$v.icon_no}}" class="ace" />
                                                        <span class="lbl"> {{$v.name}} ({{if $v.type == -1}}-{{/if}}{{$v.score}}分)</span>
                                                    </label>
                                                </div>
                                                    {{/foreach}}
                                                    

                                        
                                                </div>
                                
                                        </div>



                                        </div>

                                        <div id="faq-tab-2" class="tab-pane fade">
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-user bigger-110"></i>
                                                执业经纪人
                                            </h4>
                                            {{if $data.id|default:'' == ''}}
                                            <div class="space-8"></div>
                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <div class="dataTables_filter">
                                                        <label>Add:<input type="text" id="search_" placeholder="执业证号/信息卡号">&nbsp;<a href="javascript:void(0);" id="btn_add_agent" class="btn btn-white btn-xs btn-primary">新 增</a></label>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/if}}
                                             <div class="form-group">
                                           
                                        <div class="col-sm-10">
                                             <table class="table table-striped table-bordered">

                                <thead>

                                <tr>

                                    <th style="width:15%;">姓名</th>
                                    <th style="width:20%;">信息卡号</th>
                                    <th style="width:15%;">执业证号</th>

                                    <th style="width:20%;">身份证号</th>
                                    <th style="width:15%;">联系电话</th>
                                    <th style="width:5%;">网签</th>
                                     <th style="width:10%;">操作</th>
                                </tr>

                                </thead>

                                <tbody id="tbody_id">
                                    {{if !empty($data.agent) }}
                            {{foreach from=$data.agent item=item}}
                            <tr>
                                        <td>{{if $item.work_type == 1}}<span class="label label-warning label-white middle">持证</span>{{/if}}{{$item.name}}</td>
                                        <td>{{$item.job_num}}</td>
                                        <td>{{$item.job_code}}</td>

                                          <td>{{$item.card}}</td>
                                            <td>{{$item.phone}}</td>
                                            <td>
                                                <input type="hidden" name="setwq[]" value="{{if $item.wq == 2}}2{{else}}1{{/if}}">
                                                <input name="ckwq[]" {{if $data.id|default:'' > 0}}disabled="disabled"{{/if}} {{if $item.wq == 2}} checked{{/if}} type="checkbox" />
                                            </td>
                                        <td>
                                            <input type="hidden" name="agent_job_num[]" value="{{$item.job_num}}">
                                            <input type="hidden" name="agent_job_code[]" value="{{$item.job_code}}">
                                            <input type="hidden" name="new_agent_id[]" value="{{$item.id}}">
                                            {{if $data.id|default:'' == ''}}<a href="javascript:void(0);" dataid="" class="delete_yy_"><i class="ace-icon fa fa-trash bigger-100 red"></i>删除</a>{{/if}}
                                            <a href="/manager/agent_view/{{$item.id}}" target="_blank" class=""><i class="ace-icon fa fa-book bigger-100 blue"></i>详情</a>
                                        </td>
                                    </tr>
                            {{/foreach}}
                            {{/if}}
                                  
                                </tbody>
                            </table>
                                            </div>
                                        </div>
                          
                                         
                                        </div>
                                        <div id="faq-tab-3" class="tab-pane fade">
                                            <div class="wizard-actions">
                                                <a href="javascript:;" id="cancel_btn" class="refresh_pwd_"><i class="ace-icon fa fa-trash red bigger-100"></i>注销企业</a>&nbsp;
                                            </div>
                                            <h4 class="blue">
                                                <i class="red ace-icon fa fa-archive bigger-110"></i>
                                                年审记录
                                            </h4>
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                         <th>年审年份</th>
                                                        <th>年审结果</th>
                                                        <th style="width: 20%">信用等级(历史数据)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{foreach from=$data.ns_list key=k item=v}}
                                                            <tr>
                                                                <td>
                                                            {{$v.annual_year}}
                                                                </td>
                                                                <td>
                                                            {{if $v.status == 1}}年审失败{{/if}}
                                                            {{if $v.status == 2}}年审成功
                                                                    <a target="_blank" href="/manager/get_cert/{{$v.id}}/{{$data.id|default:''}}">点击下载备案电子证书</a>
                                                                    {{/if}}
                                                            {{if $v.status == -1}}缺席{{/if}}
                                                                </td>
                                                                    <td>
                                                             {{$v.grade_name}}
                                                                    </td>
                                                            </tr>
                                                    {{/foreach}}
                                                        
                                                        </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                      

                            <div class="col-md-offset-2 col-md-9">
                                <button id="save_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    保 存

                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <a href="/manager/company_pending_list" class="btn" type="reset">

                                    <i class="icon-undo bigger-110"></i>

                                    返 回

                                </a>

                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->

<!--plupload start--------------------------------------------------------------------------->
<!-- Load plupload and all it's runtimes and finally the UI widget -->
<link rel="stylesheet" href="/manager_statics/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />
<!-- production -->
<script type="text/javascript" src="/manager_statics/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/manager_statics/plupload/js/zh_CN.js"></script>
<script type="text/javascript" src="/manager_statics/plupload/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<!--plupload END--------------------------------------------------------------------------->

<script src="/manager_statics/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="/manager_statics/app/ajaxfileupload.js"></script>

<script src="/manager_statics/qwadmin/js/jquery.colorbox.js"></script>

<!-- ace scripts -->
<script src="/manager_statics/qwadmin/js/ace-elements.js"></script>
<script type="text/javascript">
    function triggerFileUpload(flag) {
        var data_ = "{{$f_user_id}}_{{$time}}_" + flag.toString() + "_" +  Math.floor(Math.random()*(9000)+1000);
        $("#folder").val(data_);
        var html = '<div id="uploader" style="width:550px;"><p>Your browser doesn\'t have Flash, Silverlight or HTML5 support.</p></div>';

        var layerIndex = layer.confirm(html, {
            offset: ['100px', (document.body.offsetWidth - 800) / 2],
            maxWidth: 800,
            btn: ['确定','取消'],
            shade: false
        }, function(){
            uploadFile(flag);
            layer.close(layerIndex);
        }, function(){
        });

        $("#uploader").plupload({
            runtimes : 'html5,flash,silverlight',
            url : "/manager_login/save_pics/company_pic/" + $("#folder").val(),
            max_file_size : '50mb',
            resize : { crop: true },
            file_data_name: 'userfile',
            filters : [],
            filters: {
                mime_types : [{
                    title : "Image files",
                    extensions : "jpg,gif,png,jpeg"
                }],
                max_file_size : '8024kb',
                prevent_duplicates : true
            },
            rename: true,
            sortable: true,
            dragdrop: true,
            views: {
                list: true,
                thumbs: true,
                active: 'thumbs'
            },
            flash_swf_url : '/manager_statics/plupload/js/Moxie.swf',
            silverlight_xap_url : '/manager_statics/plupload/js/Moxie.xap'
        });
    }

    function uploadFile(flag) {
        if ($('#uploader').plupload('getFiles').length < 1) {
            alert("图片未上传,请重新选择.");
            return false;
        } else {
            $.getJSON("/manager_login/get_pics/company_pic/" + $("#folder").val() +  "/?_=" + Math.random(), function(data){
                var html = '';
                var now_pic = [];
                $('input[name="pic_short[]"]').each(function(index){
                    now_pic[index] = $(this).val();
                });

                $.each(data.img,function(index,item){
                    var path = item + '?imageView2/0/w/200/h/200/q/75|imageslim';
                    if($.inArray(item, now_pic) < 0){
                        html += '<li><a href="' + item + '" title="图片资料" data-rel="colorbox"><img src="' + path + '" alert="" style="height: 120px" /></a>';
                        html += '<span class="delete-this" onclick="del_pic(this);"><i></i></span>';
                        html += '<input type="hidden" name="pic_short[]" class="pic_short" value="' + item + '">';
                        //html += '<input type="hidden" name="folder[]" value="'+ $("#folder").val() +'">';
                        html += '</li>';
                    }
                });
                $("#uploadImgcontainer").append(html);

                var $overflow = '';
                var colorbox_params = {
                    rel: 'colorbox',
                    reposition:true,
                    scalePhotos:true,
                    scrolling:false,
                    previous:'<i class="ace-icon fa fa-arrow-left"></i>',
                    next:'<i class="ace-icon fa fa-arrow-right"></i>',
                    close:'&times;',
                    current:'{current} of {total}',
                    maxWidth:'100%',
                    maxHeight:'100%',
                    onOpen:function(){
                        $overflow = document.body.style.overflow;
                        document.body.style.overflow = 'hidden';
                    },
                    onClosed:function(){
                        document.body.style.overflow = $overflow;
                    },
                    onComplete:function(){
                        $.colorbox.resize();
                    }
                };

                $('.ace-thumbnails [data-rel="colorbox"]').unbind('colorbox').colorbox(colorbox_params);

            });
            return true;
        }
    }

    function del_pic(obj) {
        var layerIndex = layer.confirm('是否删除此图片,图片操作只在保存后生效', {
            btn: ['确定','取消'], //按钮
            area: ['300px', 'auto']
        }, function(){
            $(obj).parent().remove();
            layer.close(layerIndex);
        },function(){

        });
    }

    $("#pass_btn").click(function(){
        //layer.confirm('是否确定通过报备!确定后将直接通过终审。', {
        //    btn: ['确定','取消'], //按钮
        //    area: ['400px', 'auto']
        //}, function(){
        //    submit_fun('/manager/company_pending_pass');
        //},function(){
//
        //});
    })

    $("#save_btn").click(function(){
        submit_fun('/manager/company_pending_save');
    })

    function submit_fun(url_submit){
        var index_load = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var flag = -1;
        var company_name = $.trim($("#company_name").val());
        if(company_name == "" ) {
            layer.close(index_load);
            layer.msg('企业名称不能为空', {icon: 2});
            return false;
        }
        var business_no = $.trim($("#business_no").val());
        if(business_no == "" ) {
            layer.close(index_load);
            layer.msg('统一社会信用代码不能为空', {icon: 2});
            return false;
        }
        var register_path = $.trim($("#register_path").val());
        if(register_path == "" ) {
            layer.close(index_load);
            layer.msg('注册地址不能为空', {icon: 2});
            return false;
        }
        var business_path = $.trim($("#business_path").val());
        if(business_path == "" ) {
            layer.close(index_load);
            layer.msg('经营地址不能为空', {icon: 2});
            return false;
        }
        var record_num = $.trim($("#record_num").val());
        if(record_num == "" ) {
            //layer.close(index_load);
            //layer.msg('备案号不能为空', {icon: 2});
            //return false;
        }
        var issuing_date = $.trim($("#issuing_date").val());
        if(issuing_date == "" ) {
            //layer.close(index_load);
            //layer.msg('发证日期不能为空', {icon: 2});
            //return false;
        }

        var company_phone = $.trim($("#company_phone").val());
        if(company_phone == "" ) {
            layer.close(index_load);
            layer.msg('企业电话不能为空', {icon: 2});
            return false;
        }
        var director_name = $.trim($("#director_name").val());
        if(director_name == "" ) {
            layer.close(index_load);
            layer.msg('负责人姓名不能为空', {icon: 2});
            return false;
        }
        var director_phone = $.trim($("#director_phone").val());
        if(director_phone == "" ) {
            layer.close(index_load);
            layer.msg('负责人电话不能为空', {icon: 2});
            return false;
        }
        var legal_name = $.trim($("#legal_name").val());
        if(legal_name == "" ) {
            layer.close(index_load);
            layer.msg('法人姓名不能为空', {icon: 2});
            return false;
        }
        var legal_phone = $.trim($("#legal_phone").val());
        if(legal_phone == "" ) {
            layer.close(index_load);
            layer.msg('法人电话不能为空', {icon: 2});
            return false;
        }
        //报备时可以随意修改 审核时再做判断，以免在审核中有人员变动
        var company_id_ = $("#company_id").val();
        if (company_id_ == "") {
            var length = $("#tbody_id").find(".delete_yy_").length;
            if(length < 3){
                layer.close(index_load);
                layer.msg('新增报备,需持证经纪人不能小于三个!', {icon: 2});
                flag=1;return false;
            }
        }
        
        if(flag != 1) {
            var form = document.getElementById('save_form');

            var formdata = new FormData(form);
            $.ajax({
                type: "POST",
                url: url_submit,
                data: formdata,
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    layer.close(index_load);
                    var return_ = JSON.parse(data)
                    if (return_.status == 1) {
                        var url = '/manager/company_pending_list/';
                        layer.alert('操作成功!', {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        }, function () {
                            window.location.replace(url);
                        });
                    } else {
                        layer.msg(return_.msg);
                    }

                },
                error: function () {
                    layer.close(index_load);
                    layer.msg('网络异常!');
                }
            });
        }else{
            layer.close(index_load);
        }

    }

    $("#btn_add_agent").click(function(){
        var search_ = $.trim($("#search_").val());
        if (search_ == '') {
            layer.msg('请输入执业证号/信息卡号', {icon: 2});
            return false;
        }
        var flag_ = 1;
        $("[name='agent_job_code[]']").each(function(index2){
                        var code_2 = $.trim($(this).val());
                        if(code_2 != "" && code_2 == search_){
                                layer.alert('输入的执业证号已在列表中!', {skin: 'layui-layer-lan',closeBtn: 0,shift: 4 });
                                flag_ = 2;
                                return;
                        }
        })
        $("[name='agent_job_num[]']").each(function(index3){
            var code_3 = $.trim($(this).val());
            if(code_3 != "" && code_3 == search_){
                layer.alert('输入的信息卡号已在列表中!', {skin: 'layui-layer-lan',closeBtn: 0,shift: 4 });
                flag_ = 2;
                return;
            }
        })
        if (flag_ != 1) {
            return false;
        }

        var result = $.ajax({
            url : '/manager_login/show_agent4company_add/',
            data:{keyword:search_},
            cache : false,
            async : false,
            type : "POST"
        }).responseText;
        if(result == -1){
            layer.msg('页面信息过期,请刷新页面后查看!', {icon: 2});
            return false;
        }
        if(result == -2){
            layer.msg('未找到相关人员信息!', {icon: 2});
            return false;
        }
        var thisLayer = layer.confirm(result, {
            btn: ['关闭'], //按钮
            title:'执业经纪人信息',
            area: ['850px', 'auto']
        }, function(){
            layer.close(thisLayer)
        }
        );
    })

$("#tbody_id").on("click",".delete_yy_",function(){
    var tbody_ = $(this);
    var layerIndex = layer.confirm('是否删除此经纪人,经纪人操作只在保存后生效', {
        btn: ['确定','取消'], //按钮
        area: ['300px', 'auto']
    }, function(){
        tbody_.parent().parent().remove();
        layer.close(layerIndex);
    },function(){

    });

  });

 $("#tbody_id").on('click',"[name='ckwq[]']",function(){
     if($(this).parent().parent().find("input[name='agent_job_code[]']").eq(0).val() == ''){
         $(this).prev().val(1);
         layer.msg('此人员不是持证经纪人,不可设置网签!');
         $(this).prop("checked",false);
     }else{
         if($(this).is(':checked')){
             $(this).prev().val(2);
         }else{
             $(this).prev().val(1);
         }
     }

 })
   
   $("input[name='icon_list[]']").click(function(){
        var data_class =  $(this).attr('data_class');
        var id = $(this).attr('id');
        $("#check_list").find("." + data_class + ":not(#" + id + ")").prop("checked",false);
        //$(this).prop("checked",true);
   })

    $("#cancel_btn").click(function(){
        var la_ = layer.prompt({title: '请输入注销备注!(必填)',value:'', formType: 2}, function(text, index){
            layer.close(index);
            if($.trim(text) == ""){
                layer.msg('注销备注必须填写!');
            }else{
                var company_id_ = $("#company_id").val();
                $.post('/manager/company_pending_cancel',{id: company_id_, cancel_remark:text}, function(html){
                    var data = JSON.parse(html);
                    if(data.status == 1){
                        var url = '/manager/company_pending_list/';
                        layer.alert(data.msg, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        }, function () {
                            window.location.replace(url);
                        });
                    }
                    else
                        layer.msg(data.msg, {icon: 2});
                });
            }
        });
    })
</script>
</body>
</html>
<script type="text/javascript">
    jQuery(function($) {
        var $overflow = '';
        var colorbox_params = {
            rel: 'colorbox',
            reposition:true,
            scalePhotos:true,
            scrolling:false,
            previous:'<i class="ace-icon fa fa-arrow-left"></i>',
            next:'<i class="ace-icon fa fa-arrow-right"></i>',
            close:'&times;',
            current:'{current} of {total}',
            maxWidth:'100%',
            maxHeight:'100%',
            onOpen:function(){
                $overflow = document.body.style.overflow;
                document.body.style.overflow = 'hidden';
            },
            onClosed:function(){
                document.body.style.overflow = $overflow;
            },
            onComplete:function(){
                $.colorbox.resize();
            }
        };

        $('.ace-thumbnails [data-rel="colorbox"]').unbind('colorbox').colorbox(colorbox_params);

    })
</script>

