{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}
<!--<link rel="stylesheet" href="/manager_statics/app/lightbox.min.css?v2"/>-->
<link rel="stylesheet" href="/manager_statics/qwadmin/css/colorbox.css"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }

         .yy_change{color: red}
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <form id="cancel_form" method="post" action="/manager/company_pending_cancel">
                            <input type="hidden" name="company_id" value="{{$data.id|default:''}}">
                         </form>
                         <form id="pass_form" method="post" action="{{$pass_url}}">
                            <input type="hidden" name="company_id" value="{{$data.id|default:''}}">
                         </form>
                         <form id="delete_form" method="post" action="/manager/company_pending_delete">
                            <input type="hidden" name="company_id" value="{{$data.id|default:''}}">
                         </form>
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="save_form" class="form-horizontal" role="form" action="/manager/" method="post">
                           <div class="tabbable">
                                    <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#faq-tab-1">
                                                <i class="blue ace-icon fa fa-question-circle bigger-120"></i>
                                                企业基本信息
                                            </a>
                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#faq-tab-2">
                                                <i class="green ace-icon fa fa-user bigger-120"></i>
                                                执业经纪人
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content no-border padding-24">
                                        <div id="faq-tab-1" class="tab-pane fade in active">
                                             <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               企业信息
                                            </h4>
                                            <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                                                    <b>审核信息</b>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                 <div class="space-4"></div>
                                                                 <div class="profile-user-info profile-user-info-striped">
                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业名称 </div>

                                                                            <div class="profile-info-value {{if $data.company_name|default:'' != $pass_data.company_name|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.company_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 注册地址 </div>

                                                                            <div class="profile-info-value {{if $data.register_path|default:'' != $pass_data.register_path|default:''}} yy_change{{/if}}">
                                                            
                                                                                <span>{{$data.register_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 经营地址 </div>

                                                                            <div class="profile-info-value {{if $data.business_path|default:'' != $pass_data.business_path|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.business_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 发证日期 </div>

                                                                            <div class="profile-info-value {{if $data.issuing_date|default:'' != $pass_data.issuing_date|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.issuing_date|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业电话 </div>

                                                                            <div class="profile-info-value {{if $data.company_phone|default:'' != $pass_data.company_phone|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.company_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人姓名 </div>

                                                                            <div class="profile-info-value {{if $data.director_name|default:'' != $pass_data.director_name|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.director_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人电话 </div>

                                                                            <div class="profile-info-value {{if $data.director_phone|default:'' != $pass_data.director_phone|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.director_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人姓名 </div>

                                                                            <div class="profile-info-value {{if $data.legal_name|default:'' != $pass_data.legal_name|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.legal_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人电话 </div>

                                                                            <div class="profile-info-value {{if $data.legal_phone|default:'' != $pass_data.legal_phone|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.legal_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="space-4"></div>
                                                                    <ul class="ace-thumbnails clearfix">
                                                                        {{if !empty($data.img) }}
                                                                                {{foreach from=$data.img key=k item=item}}
                                                                                 <li>
                                                                           <a href="{{$item.img_path}}" data-rel="colorbox">
                                                                                <img width="150" height="150" alt="150x150" src="{{$item.img_path}}?imageView2/0/w/200/h/200/q/75|imageslim" />
                                                                            </a>
                                                                        </li>
                           
                                                                                    {{/foreach}}
                                                                        {{/if}}
                                                                       
                                                                    </ul>
                                                            </div>
                                                        </div><!-- /.col -->

                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                                                    <b>最近一次终审信息</b>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <div class="space-4"></div>
                                                                   <div class="profile-user-info profile-user-info-striped">
                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业名称 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.company_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 注册地址 </div>

                                                                            <div class="profile-info-value">
                                                            
                                                                                <span>{{$pass_data.register_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 经营地址 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.business_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 发证日期 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.issuing_date|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业电话 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.company_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人姓名 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.director_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人电话 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.director_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人姓名 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.legal_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人电话 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pass_data.legal_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="space-4"></div>
                                                                    <ul class="ace-thumbnails clearfix">
                                                                        {{if !empty($pass_data.img) }}
                                                                                {{foreach from=$data.img key=k item=item}}
                                                                                 <li>
                                                                           <a href="{{$item.img_path}}" data-rel="colorbox_2">
                                                                                <img width="150" height="150" alt="150x150" src="{{$item.img_path}}?imageView2/0/w/200/h/200/q/75|imageslim" />
                                                                            </a>
                                                                        </li>
                           
                                                                                    {{/foreach}}
                                                                        {{/if}}
                                                                       
                                                                    </ul>
                                                            </div>
                                                        </div><!-- /.col -->
                                                    </div><!-- /.row -->
                                           

                                          
                                        
                                        <div class="space-4"></div>
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               状态信息
                                            </h4>

                                            <div class="space-8"></div>
                                         
                                            <div class="form-group">


                                                <div class="col-sm-10">

                                                   

                                                </div>

                                            </div>

                                        </div>

                                        <div id="faq-tab-2" class="tab-pane fade">
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-user bigger-110"></i>
                                                执业经纪人
                                            </h4>

                                            <div class="space-8"></div>
                                             <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                                                    <b>审核信息</b>
                                                                </div>
                                                            </div>
 <div class="space-4"></div>
                                                            <div>
                                                                   <table class="table table-striped table-bordered">
                                                    <thead>

                                <tr>

                                    <th style="width:15%;">姓名</th>
                                    <th style="width:25%;">执业证号</th>

                                    <th style="width:25%;">身份证号</th>
                                    <th style="width:15%;">联系电话</th>
                                    <th style="width:10%;">网签</th>
                                </tr>

                                </thead>

                                <tbody id="tbody_id">
                                    {{if !empty($data.agent) }}
                            {{foreach from=$data.agent item=item}}
                            <tr>
                                        <td>{{$item.name}}</td>
                                        <td>{{$item.job_code}}</td>
                                          <td>{{$item.card}}</td>
                                            <td>{{$item.phone}}</td>
                                            <td>
                                                <input type="hidden" name="setwq[]" value="{{if $item.wq == 2}}2{{else}}1{{/if}}">
                                                <input readonly="readonly" disabled="disabled" name="ckwq[]" {{if $item.wq == 2}} checked{{/if}} type="checkbox" />
                                            </td>
                                    </tr>
                            {{/foreach}}
                            {{/if}}
                                  
                                </tbody>
                            </table>

                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                                                    <b>最近一次终审信息</b>
                                                                </div>
                                                            </div>
                                                             <div class="space-4"></div>
                                                            <div>
                                                                  <table class="table table-striped table-bordered">
                                                    <thead>

                                <tr>

                                    <th style="width:15%;">姓名</th>
                                    <th style="width:25%;">执业证号</th>

                                    <th style="width:25%;">身份证号</th>
                                    <th style="width:15%;">联系电话</th>
                                    <th style="width:10%;">网签</th>
                                </tr>

                                </thead>

                                <tbody id="tbody_id">
                                    {{if !empty($pass_data.agent) }}
                            {{foreach from=$data.agent item=item}}
                            <tr>
                                        <td>{{$item.name}}</td>
                                        <td>{{$item.job_code}}</td>
                                          <td>{{$item.card}}</td>
                                            <td>{{$item.phone}}</td>
                                            <td>
                                                <input type="hidden" name="setwq[]" value="{{if $item.wq == 2}}2{{else}}1{{/if}}">
                                                <input readonly="readonly" disabled="disabled" name="ckwq[]" {{if $item.wq == 2}} checked{{/if}} type="checkbox" />
                                            </td>
                                    </tr>
                            {{/foreach}}
                            {{/if}}
                                  
                                </tbody>
                            </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                             <div class="form-group">
                                           
                                        <div class="col-sm-9">
                                          
                                            </div>
                                        </div>
                          
                                         
                                        </div>
                        
                                    </div>
                                </div>

                      

                            <div class="col-md-offset-2 col-md-9">
                                <button id="save_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    通 过

                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <a href="/manager/company_apply_list" class="btn" type="reset">

                                    <i class="icon-undo bigger-110"></i>

                                    返 回

                                </a>
                            &nbsp; &nbsp; &nbsp;
                                 <button id="cancel_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    审核失败

                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button id="delete_btn" class="btn btn-info red" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    作 废

                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->

<script type="text/javascript" src="/manager_statics/qwadmin/js/jquery.colorbox.js"></script>
<script type="text/javascript">

jQuery(function($) {
    var $overflow = '';
    var colorbox_params = {
        rel: 'colorbox',
        reposition:true,
        scalePhotos:true,
        scrolling:false,
        previous:'<i class="ace-icon fa fa-arrow-left"></i>',
        next:'<i class="ace-icon fa fa-arrow-right"></i>',
        close:'&times;',
        current:'{current} of {total}',
        maxWidth:'100%',
        maxHeight:'100%',
        onOpen:function(){
            $overflow = document.body.style.overflow;
            document.body.style.overflow = 'hidden';
        },
        onClosed:function(){
            document.body.style.overflow = $overflow;
        },
        onComplete:function(){
            $.colorbox.resize();
        }
    };

    $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
    $('.ace-thumbnails [data-rel="colorbox_2"]').colorbox(colorbox_params);
    $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon
    
    
    $(document).one('ajaxloadstart.page', function(e) {
        $('#colorbox, #cboxOverlay').remove();
   });
});

 $("#save_btn").click(function(){
       $("#save_form").submit();
    })

 $("#delete_btn").click(function(){
       layer.confirm('是否确定作废，作废后不可恢复！', {
            btn: ['确定','取消'], //按钮
            area: ['400px', 'auto']
        }, function(){
            $("#delete_form").submit();
        },function(){

        });
    })

 $("#cancel_btn").click(function(){
        $("#cancel_form").submit();
    })
   
</script>
</body>
</html>
