{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}

<link rel="stylesheet" href="/manager_statics/app/cj4img/css/index.css?v5">
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        .yy_ul_ li{
            list-style: none;
            float: left;
            position: relative;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .lb-nav{display: none}
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }

         .yy_change{color: red}
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger">页面中的审核信息在终审成功后会自动覆盖企业真实信息，其他信息均为实时信息。</div>
                        <form id="cancel_form" method="post" action="{{$cancel_url}}">
                            <input type="hidden" name="pass_id" value="{{$data.id|default:''}}">
                         </form>
                         <form id="pass_form" method="post" action="{{$pass_url}}">
                            <input type="hidden" name="pass_id" value="{{$data.id|default:''}}">
                         </form>
                
                        <!-- PAGE CONTENT BEGINS -->
                        <!--<form id="save_form" class="form-horizontal" role="form" action="/manager/" method="post">-->
                           <div class="tabbable">
                                    <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#faq-tab-1">
                                                <i class="blue ace-icon fa fa-question-circle bigger-120"></i>
                                                企业基本信息
                                            </a>
                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#faq-tab-2">
                                                <i class="green ace-icon fa fa-user bigger-120"></i>
                                                执业经纪人
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content no-border padding-24">
                                        <div id="faq-tab-1" class="tab-pane fade in active">
                                             <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               企业信息(审核信息)
                                            </h4>
                                            <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                                                    <b>审核信息</b>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                 <div class="space-4"></div>
                                                                 <div class="profile-user-info profile-user-info-striped">
                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业名称 </div>

                                                                            <div class="profile-info-value {{if $data.company_name|default:'' != $pending_data.company_name|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.company_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name" style="font-size:smaller"> 统一社会信用代码 </div>

                                                                            <div class="profile-info-value {{if $data.business_no|default:'' != $pending_data.business_no|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.business_no|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 注册地址 </div>

                                                                            <div class="profile-info-value {{if $data.register_path|default:'' != $pending_data.register_path|default:''}} yy_change{{/if}}">
                                                            
                                                                                <span>{{$data.register_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 经营地址 </div>

                                                                            <div class="profile-info-value {{if $data.business_path|default:'' != $pending_data.business_path|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.business_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <!--<div class="profile-info-row">
                                                                            <div class="profile-info-name"> 发证日期 </div>

                                                                            <div class="profile-info-value {{if $data.issuing_date|default:'' != $pending_data.issuing_date|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.issuing_date|default:''}}</span>
                                                                            </div>
                                                                        </div>-->

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业电话 </div>

                                                                            <div class="profile-info-value {{if $data.company_phone|default:'' != $pending_data.company_phone|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.company_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人姓名 </div>

                                                                            <div class="profile-info-value {{if $data.director_name|default:'' != $pending_data.director_name|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.director_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人电话 </div>

                                                                            <div class="profile-info-value {{if $data.director_phone|default:'' != $pending_data.director_phone|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.director_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人姓名 </div>

                                                                            <div class="profile-info-value {{if $data.legal_name|default:'' != $pending_data.legal_name|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.legal_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人电话 </div>

                                                                            <div class="profile-info-value {{if $data.legal_phone|default:'' != $pending_data.legal_phone|default:''}} yy_change{{/if}}">
                                                                                <span>{{$data.legal_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="space-4"></div>
                                                                    <ul class="ace-thumbnails clearfix">
                                                                        {{if !empty($data.img) }}
                                                                                {{foreach from=$data.img key=k item=item}}
                                                                        <li>
                                                                            <a href="javascript:void(0)" data-magnify="gallery" data-group="g2" data-src="{{$item.img_path}}" data-caption="审核资料">
                                                                                <img width="150" height="150"  src="{{$item.img_path}}?imageView2/0/w/200/h/200/q/75|imageslim">
                                                                            </a>
                                                                        </li>
                           
                                                                                    {{/foreach}}
                                                                        {{/if}}
                                                                       
                                                                    </ul>
                                                            </div>
                                                        </div><!-- /.col -->

                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                                                    <b>当前信息</b>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <div class="space-4"></div>
                                                                   <div class="profile-user-info profile-user-info-striped">
                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业名称 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.company_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name" style="font-size:smaller"> 统一社会信用代码 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.business_no|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 注册地址 </div>

                                                                            <div class="profile-info-value">
                                                            
                                                                                <span>{{$pending_data.register_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 经营地址 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.business_path|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <!--<div class="profile-info-row">
                                                                            <div class="profile-info-name"> 发证日期 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.issuing_date|default:''}}</span>
                                                                            </div>
                                                                        </div>-->

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 企业电话 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.company_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人姓名 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.director_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 负责人电话 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.director_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人姓名 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.legal_name|default:''}}</span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 法人电话 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.legal_phone|default:''}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="space-4"></div>
                                                                    <ul class="ace-thumbnails clearfix">
                                                                        {{if !empty($pending_data.img) }}
                                                                                {{foreach from=$pending_data.img key=k item=item}}
                                                                        <li>
                                                                            <a href="javascript:void(0)" data-magnify="gallery" data-group="g1" data-src="{{$item.img_path}}" data-caption="原始资料">
                                                                                <img width="150" height="150"  src="{{$item.img_path}}?imageView2/0/w/200/h/200/q/75|imageslim">
                                                                            </a>
                                                                        </li>
                           
                                                                                    {{/foreach}}
                                                                        {{/if}}
                                                                       
                                                                    </ul>
                                                            </div>
                                                        </div><!-- /.col -->
                                                    </div><!-- /.row -->
                            
                                        </div>

                                        <div id="faq-tab-2" class="tab-pane fade">
                                            <h4 class="blue">
                                                <i class="green ace-icon fa fa-user bigger-110"></i>
                                                执业经纪人
                                            </h4>

                                            <div class="space-8"></div>
                                             <div class="row">
                                                                  <table class="table table-striped table-bordered">
                                                    <thead>

                                <tr>

                                    <th style="width:10%;">姓名</th>
                                    <th style="width:22%;">执业证号</th>

                                    <th style="width:23%;">身份证号</th>
                                    <th style="width:15%;">联系电话</th>
                                    <th style="width:10%;">网签</th>
                                    <th style="width:10%;">操作</th>
                                </tr>

                                </thead>

                                <tbody>
                                    {{if !empty($pending_data.agent) }}
                            {{foreach from=$pending_data.agent item=item}}
                            <tr>
                                        <td>{{$item.name}}</td>
                                        <td>{{$item.job_code}}</td>
                                          <td>{{$item.card}}</td>
                                            <td>{{$item.phone}}</td>
                                            <td>
                                                <input type="hidden" name="setwq[]" value="{{if $item.wq == 2}}2{{else}}1{{/if}}">
                                                <input readonly="readonly" disabled="disabled" name="ckwq[]" {{if $item.wq == 2}} checked{{/if}} type="checkbox" />
                                            </td>
                                <td>
                                    <a href="/manager/agent_view/{{$item.id}}" target="_blank" class=""><i class="ace-icon fa fa-book bigger-100 blue"></i>详情</a>
                                </td>
                                    </tr>
                            {{/foreach}}
                            {{/if}}
                                  
                                </tbody>
                            </table>
                                                    </div>
                                            
                        
                                    </div>
                                    <div class="hr hr32 hr-dotted"></div>
                                    <h4 class="blue">
                                                <i class="green ace-icon fa fa-list bigger-110"></i>
                                               状态信息
                                            </h4>
                                            <div class="col-xs-11">
                                       <div class="profile-user-info profile-user-info-striped">


                                                                         <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 信用分 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.total_score|default:''}}(在终审时,会重新计算)</span>
                                                                            </div>
                                                                        </div>

                                                                         <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 审核状态 </div>

                                                                            <div class="profile-info-value">
                                                                               {{if $data.status == 3}}<span class="label label-xlg label-success">终审成功</span>{{/if}}
                                            {{if $data.status == 1}}<span class="label label-xlg label-grey">待初审</span>{{/if}}
                                            {{if $data.status == 2}}<span class="label label-xlg label-primary">待终审</span>{{/if}}
                                            {{if $data.status == -1}}<span class="label label-xlg label-warning">审核失败</span>{{/if}}
                                                                            </div>
                                                                        </div>
                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 所属区镇 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.t_name_|default:''}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="profile-info-row">
                                                                            <div class="profile-info-name"> 分支机构数量 </div>

                                                                            <div class="profile-info-value">
                                                                                <span>{{$pending_data.fz_num|default:'0'}}</span>
                                                                            </div>
                                                                        </div>
                                                        </div>
                                                    </div>
                                        <div class="col-xs-11">
                                                        <div class="widget-box widget-color-dark">
                                           

                                                <div class="widget-body">
                                                    <div class="widget-main">
                                                        <ul class="list-unstyled spaced2">
                                                            {{foreach from=$icon_list key=k item=v}}
                                                            <li>
                                                            <i class="ace-icon fa {{if $v.is_check_ == 1}}fa-check green{{else}}fa-times red{{/if}}"></i>
                                                            {{$v.name}} ({{if $v.type == -1}}-{{/if}}{{$v.score}}分)
                                                            </li>
                                    
                                                    {{/foreach}}
                                                            
                                                    </ul>

                                                
                                                    
                                                </div>

                                                
                                            </div>

                                
                                        </div>
                                </div>
                      
                           <hr />
                            <div class="col-md-offset-2 col-md-9">
                                <button id="pass_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    {{$pass_btn_value|default:''}}

                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <a href="/manager/company_apply_list" class="btn" type="reset">

                                    <i class="icon-undo bigger-110"></i>

                                    返 回

                                </a>
                            &nbsp; &nbsp; &nbsp;
                                 <button id="cancel_btn" class="btn btn-danger" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    审核失败

                                </button>
                               
                            </div>
                        <!--</form>-->
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->


        <script src="/manager_statics/app/cj4img/js/index.js?v14"></script>
        <script src="/manager_statics/app/cj4img/js/jquery.rotate.min.js"></script>
<script type="text/javascript">


 $("#pass_btn").click(function(){
       layer.confirm('是否确定审核通过！', {
            btn: ['确定','取消'], //按钮
            area: ['400px', 'auto']
        }, function(){
            post_form('pass_form', '{{$pass_url}}');
        },function(){

        });
})

 $("#cancel_btn").click(function(){
    layer.confirm('是否确定审核失败，审核失败后将直接计算分数并保存审核结果！', {
            btn: ['确定','取消'], //按钮
            area: ['400px', 'auto']
        }, function(){
             post_form('cancel_form', '{{$cancel_url}}');
        },function(){

        });
    })
   

   function post_form(form_name, url_submit){
       var index_load = layer.load(1, {
           shade: [0.1,'#fff'] //0.1透明度的白色背景
       });
            var form = document.getElementById(form_name);

            var formdata = new FormData(form);
            $.ajax({
                type : "POST",
                url : url_submit,
                data : formdata,
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                success : function(data) {
                    layer.close(index_load);
                    var return_ = JSON.parse(data)
                    if(return_.status == 1){
                        var url = '{{$return_url_}}';
                        layer.alert('操作成功!', {
                            skin: 'layui-layer-molv' //样式类名
                            ,closeBtn: 0
                        }, function(){
                            window.location.replace(url);
                        });
                    }else{
                        layer.msg(return_.msg);
                    }
                },
                error:function(){
                    layer.close(index_load);
                    layer.msg('网络异常!');
                }
            });
   }


 $(function () {
     $('[data-magnify]').Magnify({
         Toolbar: [
             'prev',
             'next',
             'rotateLeft',
             'rotateRight',
             'zoomIn',
             'actualSize',
             'zoomOut'
         ],
         keyboard:true,
         draggable:true,
         movable:true,
         modalSize:[800,600],
         beforeOpen:function (obj,data) {
             console.log('beforeOpen')
         },
         opened:function (obj,data) {
             console.log('opened')
         },
         beforeClose:function (obj,data) {
             console.log('beforeClose')
         },
         closed:function (obj,data) {
             console.log('closed')
         },
         beforeChange:function (obj,data) {
             console.log('beforeChange')
         },
         changed:function (obj,data) {
             console.log('changed')
         }
     });

 })
</script>
</body>
</html>
