{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="save_form" class="form-horizontal" role="form" action="{{$save_url}}" method="post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="company_id"> 企业 </label>
                                <div class="col-sm-7">
                                   <select id="company_id" name="company_id" class="form-control">
                                    <option data_grade="" value="">--请选择--</option>
                                    {{foreach from=$company_all key=k item=v}}
                                    <option data_grade="{{$v.grade_name}}"  value="{{$v.id}}">{{$v.company_name}}-{{$v.record_num}}</option>
                                    {{/foreach}}
                                    </select>
                                    
                                </div>
                            </div>
                        

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="type_id"> 一级类别 </label>
                                <div class="col-sm-5 yy_m_7">
                                    <select id="type_id" name="type_id" class="form-control">
                                    <option data_change_grade='' value="">--请选择--</option>
                                    {{foreach from=$event_type_all key=k item=v}}
                                    <option data_change_grade='{{$v.is_change_grade}}' {{if $v.id == $data.type_id|default:''}}selected{{/if}} value="{{$v.id}}">{{$v.event_type_name}}</option>
                                    {{/foreach}}
                                    </select>
                                    <span class="lbl"></span>

                                </div>

                            </div>
                            <div id="div_show_" style="display: none;">
                                 <div class="form-group">
                                 <label class="col-sm-2 control-label no-padding-right"> </label>
                                  <div class="col-sm-5 yy_m_7">
                                       <span id="span_show_" class="help-inline col-xs-12 col-sm-7 yy_m_7"></span>
                                  </div>
                            </div>
                             <div class="form-group">
                                 <label class="col-sm-2 control-label no-padding-right">调整的等级</label>
                                  <div class="col-sm-5">
                                     <select id="grade_id" name="grade_no" class="form-control">
                                    <option value="">--请选择--</option>
                                    {{foreach from=$grade_list key=k item=v}}
                                    <option value="{{$v.grade_no}}">{{$v.grade_name}}</option>
                                    {{/foreach}}
                                    </select>
                                  </div>
                            </div>
                            </div>
                           
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="event_id"> 事件列表 </label>
                                <div class="col-sm-7 yy_m_7">
                                    <select id="event_id" name="event_id" class="form-control">
                                    <option value="">--请选择--</option>
                                    </select>
                                    <span class="lbl"></span>

                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="event_date"> 事件时间 </label>
                                <div class="col-sm-9">
                                    <input type="text" onfocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy-MM-dd'})" id="event_date" name="event_date" required="required" class="rcol-xs-10 col-sm-6" value="">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                              <div class="space-4"></div>
                                 <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="record_fact"> 事实 </label>
                                <div class="col-sm-9">
                                    <textarea name="record_fact" id="record_fact" maxlength="150" style="width:60%;height:100px;"></textarea>
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                                 <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="remark"> 备注 </label>
                                <div class="col-sm-9">
                                    <textarea name="remark" id="remark" maxlength="150" style="width:60%;height:100px;"></textarea>
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="col-md-offset-2 col-md-9">
                                <button id="save_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    保 存

                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <a href="{{$return_url}}" class="btn" type="reset">

                                    <i class="icon-undo bigger-110"></i>

                                    返 回

                                </a>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->
<script src="/manager_statics/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="/manager_statics/app/select2.full.min.js"></script>
<link rel="stylesheet" href="/manager_statics/app/select2.min.css">

<script type="text/javascript">
    $("#company_id").select2();
    $("#type_id").select2();
    $("#event_id").select2();
    $("#type_id").change(function(){
        var type_id = $(this).val();
        var data_change_grade = $('#type_id option:selected').attr('data_change_grade');
        if(data_change_grade == '1')
            $("#div_show_").show();
        else
            $("#div_show_").hide();
        $.post('/ajax_api/get_eventByType4company', {type_id:type_id}, function(data) {
            var data = JSON.parse(data);
            var card_list = data;
            $("#event_id").select2('destroy').empty();
            var html = '<option value="">--请选择--</option>';
            for(var i=0 ;i< card_list.length; i++){
                html += "<option value='" + card_list[i]['id'] + "'>" + card_list[i]['event_name'] + "</option>"
            }
            $("#event_id").html(html);
            $("#event_id").select2();
            $("#event_id").val(['']).trigger('change');

        });
    });
    $('#type_id').change();

    $("#save_btn").click(function(){
        var company_id = $.trim($("#company_id").val());
        if(company_id == "" ) {
            layer.msg('企业不能为空', {icon: 2});
            return false;
        }
          var type_id = $.trim($("#type_id").val());
        if(type_id == ""){
            layer.msg('请选择类别!', {icon: 3});
            return false;
        }
        var data_change_grade = $('#type_id option:selected').attr('data_change_grade');
        if(data_change_grade == '1'){
            var type_id = $.trim($("#grade_id").val());
            if(grade_id == ""){
                layer.msg('请选择需要调整的企业信用等级!', {icon: 3});
                return false;
            }
        }
        var event_id = $.trim($("#event_id").val());
        if(event_id == ""){
            layer.msg('请选择事件!', {icon: 3});
            return false;
        }
        var event_date = $.trim($("#event_date").val());
        if(event_date == '') {
            layer.msg('请选择事件时间', {icon: 2});
            return false;
        }
        var record_fact = $.trim($("#record_fact").val());
        if(record_fact == ""){
            layer.msg('请填写事实!', {icon: 3});
            return false;
        }
        var remark = $.trim($("#remark").val());
        if(remark == '') {
            layer.msg('请填写备注', {icon: 2});
            return false;
        }
        $("#save_form").submit();
    })

$("#company_id").change(function(){
        var data_grade = $('#company_id option:selected').attr('data_grade');
        if(data_grade)
            $("#span_show_").html('企业当前信用等级：' + data_grade);
        else
            $("#span_show_").html('');
    });
</script>
</body>
</html>
