<!doctype html>
<html class="no-js">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>昆山二手房诚信管理中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/web_assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/web_assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/web_assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="/web_assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/web_assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/web_assets/css/app.css?v3">
</head>
<body class="page">
   <div class="page-hd">
   <div class="main1200">

       </div>
 </div>
   <div class="page-bd">
    <div class="main1200">

      <div class="company-info">
          <dl class="dl-info">
            <dt>{{$data.name}}</dt>
            <dd><span>经纪人证书编号：</span><span>{{$data.job_code}}</span></dd>
            <dd><span>从业机构：</span>{{$data.company_name|default:'-'}}</dd>
          </dl> 
      </div>
    
         <div class="company-info"> 
          <div class="company-info-tab"><a href="" class="current">经纪人基本信息<i class="am-icon-angle-down"></i></a></div>
          <div class="com-tit"><span></span>基本信息</div>
          <div class="flwid558">
            <dl class="dl-info1">
              <dt>姓名：</dt>
              <dd>{{$data.name}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>证书编号：</dt>
              <dd>{{$data.job_code}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>从业机构：</dt>
              <dd>{{$data.company_name|default:'-'}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>联系电话：</dt>
              <dd>{{$data.phone}}</dd>
            </dl>
       
          
        </div>
      
        <div class="photos" style="min-height: 10px;margin-bottom: 10px">

        </div>







   </div>

     </div> 
      











      </div>
   </div>

       </div>
  </div>
</div>



<!-- 以上页面内容 开发时删除 -->

</body>
</html>
