<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>经纪人信息</title>
  <meta name="description" content="经纪人信息">
  <meta name="keywords" content="昆山 经纪人 信息">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/web_assets/assets4saff/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/web_assets/assets4saff/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/web_assets/assets4saff/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/web_assets/assets4saff/css/admin.css">
  <link rel="stylesheet" href="/web_assets/assets4saff/css/app.css?v5">
    <style>
        #is_end_1,#is_end_2,#is_end_0{
            text-align: center;font-size: 12px;margin-top: 10px;display: none;
        }
    </style>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<div class="am-cf admin-main">
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
        <input type="hidden" id="agent_id" value="{{$data.id}}">
        <div class="am-padding am-bgfff ">
            <div class="show-peo-img">
                <img src="{{$show_person_}}" alt="" >
            </div>
          <p class="p1_1"><span class="sname">{{$data.name}}</span>{{if $data.company_id != -1 and $data.wq == 2}}<span class="label bule">网签</span>{{/if}} {{if $data.grade_no == 1}}<span class="label red">失信状态</span>{{/if}}</p>
          <span class="s01 snow-company">{{$data.company_name|default:'-'}}</span>
          <div class="dl01">
              <p class="p2_2"><span class="s02"><i class="am-icon-file-o"></i>从业编号：</span><span>{{$data.job_num}}</span></p>
            <p class="p2_2"><span class="s02"><i class="am-icon-file-o"></i>执业证号：</span><span>{{$data.job_code}}</span></p>
            <p class="p2_2"><span class="s02"><i class="am-icon-mobile"></i>联系电话：</span><span>{{$data.phone}}</span></p>
            <p class="p2_2"><span class="s02"><i class="am-icon-flag-o"></i>职业状态：</span><span>
                {{if $data.flag == 2}}有效{{/if}}
                {{if $data.flag == 1}}离昆{{/if}}
                {{if $data.flag == -1}}无效{{/if}}
            </span></p>
              {{if $data.old_job_code|trim != ''}}<p class="p2_2"><span class="s02"><i class="am-icon-file-text-o"></i>原职业证号：</span><span>{{$data.old_job_code}}</span></p>{{/if}}
          </div>
        </div>
<!--
      <div class="am-padding am-bgfff " style="display: none">
       <span class="stit">年审记录</span>
         <div id="carousel" class="carousel-nav">
            <ul class="infor-xnav">
                <li><span class="time">---.--.--</span>
                    <span class="s-icon"></span>
                    <span class="result">年审通过</span>
                </li>
                 <li><span class="time">----.--.--</span>
                  <span class="s-icon s-icon-red"></span>
                    <span class="result">年审缺席</span>
                </li>
                 <li><span class="time">----.--.--</span>
                  <span class="s-icon"></span>
                    <span class="result">年审未通过</span>
                </li>
            </ul>
            <div class="div-border"></div>
        </div>
      </div>
-->
     <div class="am-padding am-bgfff ">
        <div class="am-tabs" data-am-tabs>
          <ul class="am-tabs-nav am-nav am-nav-tabs staff-nav" id="status_ul_">
            <li class="am-active"><a href="#tab1">失信事件</a></li>
            <li><a href="#tab2">就业轨迹</a></li>
          </ul>

          <div class="am-tabs-bd">
            <div class="am-tab-panel am-active" id="tab1">

                 <div class="div-fl div-choose">

                   <div class="sel-year">
               
                  
                      <select id="select_year" data-am-selected="{btnSize: 'sm'}" class="">
                          {{foreach from=$year_list key=key item=item}}
                          <option value="{{$item}}">{{$item}}年</option>
                          {{/foreach}}
                      </select>
               
                  </div>



                    <div class="div-res" id="c_num_">共0条</div>
                 </div>
                 <div class="div-fr">
                  <div class="current-status">当前状态：{{$data.grade_name}}</div>
                 </div>
               <div class="clear"></div>
               <div class="div-data">
                   <p class="p-kong" id="p_kong_"><img src="/web_assets/assets4saff/i/kong1.jpg"></p>
                <ul class="data-ul" id="div_gener_0">

                </ul>
                   <p id="is_end_0"></p>
                <div class="more-btns"><a href="javascript:;" id="btn_0" class="more-btn">加载更多</a></div>
              </div>
            </div>
            <div class="am-tab-panel" id="tab2">
                <p id="is_end_1">已到最后一页</p>
                <div class="more-btns"><a href="javascript:;" id="btn_1" class="more-btn">加载更多</a></div>
            </div>
          </div>
        </div>








       
     </div>


    </div>
    <footer class="admin-content-footer">
      <hr>
      <!-- <p class="am-padding-left">© 2020 AllMobilize, Inc. Licensed under MIT license.</p> -->
    </footer>
  </div>
  <!-- content end -->

</div>

<!-- <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a> -->

<!--[if lt IE 9]>
<script src="/web_assets/js/jquery-3.2.1.min.js"></script>
<script src="/web_assets/assets4saff/js/modernizr.js"></script>
<script src="/web_assets/assets4saff/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/web_assets/js/jquery-3.2.1.min.js"></script>
<script src="/web_assets/assets4saff/js/amazeui.min.js"></script>
<script src="/web_assets/assets4saff/js/iscroll.js"></script>
<script src="/web_assets/assets4saff/js/app.js"></script>
<!--<![endif]-->
<script type="text/javascript">
    // $(document).ready(function(){
    //     $(".infot-liBtn").click(function(){
    //         $(".infot-liBtn").toggleClass("infot-liBtn2").siblings("li.infot-liOff").toggleClass("infot-liOn");
    //     });
    //     $(".infor-xnav li").click(function(){
    //         $(this).addClass("pitch").siblings().removeClass("pitch");
    //     });
    // });

    window.addEventListener('load',function(){
        //var $carousel = document.getElementById('carousel'), $ul = $carousel.querySelector('ul'), liArray = $carousel.querySelectorAll('li'), liNum = liArray.length;
        //$ul.style.width = (liArray[0].clientWidth + 10)*9 +"px";
        //var carousel=new iScroll("carousel",{hScrollbar:false, vScrollbar:false, vScroll: false});

    });

    $(function(){
        window.is_end_0 = false
        window.is_end_1 = false
        window.page_0 = 1
        window.page_1 = 1

        $("#btn_0").click(function(){
            if(window.is_end_0){
                //$("#is_end_0").show()
            }else{
                $('#my-modal-loading').modal()
                get_data(0)
            }
        })

        $("#btn_1").click(function(){
            if(window.is_end_1){
                $("#is_end_1").show()
            }else{
                $('#my-modal-loading').modal()
                get_data(1)
            }
        })

        $("#select_year").change(function(){
            window.page_0 = 1;
            $('#div_gener_0').html('');
            $("#p_kong_").show();
            $("#btn_0").show();
            get_data(0);
        });
        function get_data(status){
            var agent_id = $("#agent_id").val();
            var year = $("#select_year").val();
            var page = 1;
            switch (status){
                case 0:
                    page = window.page_0
                    break;
                case 1:
                    page = window.page_1
                    break;
                default:
                    return false;
            }
            $.ajaxSettings.async = false; //关闭异步

            $.post("/mobile/saff_load",{page:page,status:status,agent_id:agent_id,year:year},function(data){

                var result_ = JSON.parse(data)
                if(result_.status == 1){
                    //循环所得到的明细记录,生成html
                    //规则在于 在对应ul中 生成带有时间含义id的div,并在其中添加数据
                    switch (status){
                        case 0:
                            var result_html_ = '';
                            $.each(result_.result.res_list,function(key,val){
                                $("#p_kong_").hide();
                                result_html_ += '<li>';
                                result_html_ += '<p class="p-ul-1">' + val.event_name + '</p>';
                                var c_ = val.event_type_type == 1 ? 's-label-3' : '';
                                result_html_ += ' <div class="div-other"><span class="s-time">' + val.event_date + '</span><span class="s-label-2 ' + c_ + '">' + val.event_type_name + '</span></div>';
                                result_html_ += '</li>';
                            })
                            $('#div_gener_0').append(result_html_);
                            $("#c_num_").html("共" + result_.result.total +"条");
                            window.page_0 += 1
                            break;
                        case 1:
                            var result_html_ = '';
                            $.each(result_.result.res_list,function(key,val){
                                result_html_ += '<dl class="dl-data-1">';
                                result_html_ += '<dt class="time">' + val.c_day_ + '</dt>';
                                result_html_ += '<dd>从<span>' + val.f_name_+ '</span>到 <span>' + val.t_name_ + '</span></dd>';
                                result_html_ += '</dl>';
                            })
                            $('#is_end_1').before(result_html_);
                            window.page_1 += 1
                            break;
                    }
                    if(result_.result.count != result_.result.limit){
                        switch (status){
                            case 0:
                                //$("#is_end_0").show()
                                $("#btn_0").hide();
                                //window.is_end_0 = true
                                break;
                            case 1:
                                $("#is_end_1").show()
                                $("#btn_1").hide();
                                //window.is_end_1 = true
                                break;
                        }
                    }
                    $('#my-modal-loading').modal('close');
                }else{
                    $('#my-modal-loading').modal('close');
                    switch (status){
                        case 0:
                            //$("#is_end_0").show()
                            $("#btn_0").hide();
                            //window.is_end_0 = true
                            break;
                        case 1:
                            $("#is_end_1").show()
                            $("#btn_1").hide();
                            //window.is_end_1 = true
                            break;
                    }
                }
            });
            $.ajaxSettings.async = true; //打开异步
        }
        get_data(1);
        get_data(0);
    })
</script>

<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
    <div class="am-modal-dialog">
        <!--<div class="am-modal-hd">正在加载...</div>-->
        <div class="am-modal-bd">
            <span class="am-icon-spinner am-icon-spin"></span>
        </div>
    </div>
</div>
</body>
</html>
