<!doctype html>
<html class="no-js">
<head>
 {{include file='homepage/public/head.html'}}
 <link rel="stylesheet" href="/manager_statics/app/lightbox.min.css?v3"/>
</head>
<body class="page">
  <div class="page-hd">
   <div class="main1200">
        {{include file='homepage/public/logo.html'}} 
       </div>
 </div>
   <div class="page-bd">
    <div class="main1200">
      <div class="search_box">
          <form id="search_company_form" method="get" action="/home/company_list">
           <div class="s-ipt">
            <input type="search" placeholder="请输入公司名/税号/法定代表人姓名进行查询" value="{{$data.c_k|default:''}}" name="c_k" id="c_k" class="search_ipt" />
            <a href="javascript:" id="search_btn" class="search-btn"></a>
          </div>
        </form>
      </div>
      <div class="company-info">
          <dl class="dl-info dl-info-fl">
            <dt>{{$data.company_name}}</dt>
            <dd><span>统一社会信用代码/注册号：</span><span>{{$data.business_no}}</span></dd>
            <dd><span>法人代表人姓名：</span>{{$data.legal_name}}</dd>
            <dd><span>公司成立时间：</span><span>2019年11月13号</span> </dd>
          </dl>
          {{if $data.zz_status == -1}}<span class="s-label">异常状态</span>{{/if}}
      </div>
    
         <div class="company-info"> 
          <div class="company-info-tab"><a href="" class="current">企业信息<i class="am-icon-angle-down"></i></a>
            <a href="#ns_div" >企业年审记录<i class="am-icon-angle-down"></i></a>
           <a href="#cx_div" >企业诚信记录<i class="am-icon-angle-down"></i></a>
           <a href="#agent_div" >企业旗下经纪人<i class="am-icon-angle-down"></i></a> </div>
          <div class="com-tit"><span></span>基本信息</div>
          <div class="flwid558">
            <dl class="dl-info1">
              <dt>公司名称：</dt>
              <dd>{{$data.company_name}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>社会统一信用代码：</dt>
              <dd>{{$data.business_no}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>法人代表人:</dt>
              <dd>{{$data.legal_name}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>法人电话:</dt>
              <dd>{{$data.legal_phone}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>企业地址:</dt>
              <dd>{{$data.register_path}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>经营地址:</dt>
              <dd>{{$data.business_path}}</dd>
            </dl>
        </div>
        <div class="flwid558">
            <dl class="dl-info1">
              <dt>信用分值： </dt>
              <dd>{{$data.total_score|default:'-'}}分</dd>
            </dl>
            <dl class="dl-info1">
              <dt>信用等级：</dt>
              <dd>{{$data.b_grade_name_}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>最后年审年度：</dt>
              <dd>{{$data.annual_date}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>负责人姓名:</dt>
              <dd>{{$data.director_name}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>负责人电话:</dt>
              <dd>{{$data.director_phone}}</dd>
            </dl>
            <dl class="dl-info1">
              <dt>公司电话:</dt>
              <dd>{{$data.company_phone}}</dd>
            </dl>
            
        </div>
        <div class="photos">
           {{if !empty($data.img) }}
             {{foreach from=$data.img key=k item=item}}
              <span>
<a class="example-image-link" href="{{$item.img_path}}" data-lightbox="example-set example_num1" data-title="图片资料">
                <img src="{{$item.img_path}}?imageView2/0/w/200/h/200/q/75|imageslim" />
</a>
              </span>
          {{/foreach}}
        {{/if}}
      
        </div>
       <div class="com-tit" id="ns_div"><span></span>企业年审记录</div>

       {{if !empty($ns_list_1) }}
        <div class="out-table">
          <table class="data-table">
           <tr>
              <th width="20%">年份</th>
              <th width="80%">事实</th>
           </tr>
           <tr>
              <td>{{$ns_list_1.annual_year}}年</td>
              <td>
                  {{if $ns_list_1.status == 1}}年审失败{{/if}}
                  {{if $ns_list_1.status == 2}}年审成功<a href="">点击下载备案电子证书</a> {{/if}}
                  {{if $ns_list_1.status == -1}}缺席{{/if}}
              </td>
           </tr>  
         </table>
       </div>
       {{/if}}
        {{if !empty($ns_list_2) }}
        <div class="out-table">
          <table class="data-table">
           <tr>
              <th width="20%">年份</th>
              <th width="80%">事实</th>
           </tr>
           <tr>
              <td>{{$ns_list_2.annual_year}}年</td>
              <td>
                  {{if $ns_list_2.status == 1}}年审失败{{/if}}
                  {{if $ns_list_2.status == 2}}年审成功{{/if}}
                  {{if $ns_list_2.status == -1}}缺席{{/if}}
              </td>
           </tr>  
         </table>
       </div>
       {{/if}}
         
       <div class="am-panel-group" id="accordion">
        {{if !empty($ns_list_other) }}
  <div class="am-panel am-panel-default com-data">
  
    <div id="do-not-say-1" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        {{foreach from=$ns_list_other key=k item=v}}
        <div class="out-table">        
           <table class="data-table">
             <tr>
                <th width="20%">年份</th>
                <th width="80%">事实</th>
             </tr>
             <tr>
                <td>{{$v.annual_year}}年</td>
                <td>
                {{if $v.status == 1}}年审失败{{/if}}
                {{if $v.status == 2}}年审成功{{/if}}
                {{if $v.status == -1}}缺席{{/if}}
                </td>
             </tr>  

           </table>
         </div>
         {{/foreach}}
       
      </div>
    </div>

      <div class="am-panel-hd">
        <span class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
            <img src="/web_assets/i/arrow.png">
        </span>
    </div>

  </div>
  {{/if}}
</div>



<div class="com-tit" id="cx_div"><span></span>企业诚信记录</div>

    <div class="out-table">


<div class="container">
  <div class="select-box select-city">
    <div data_id="" id="select_year" class="select-header"> 选择年份</div>
    <ul class="select-content">
      {{foreach from=$year_list key=key item=item}}
      <li data_id="{{$item}}">{{$item}}年</li>
      {{/foreach}}
    </ul>
  </div>

</div>

      <div id="ajax_event_div">
        

      </div>
   
   </div>

     </div> 
      


      <div class="company-info"> 
          <form id="agent_form">
            <input type="hidden" name="c_id" id="c_id" value="{{$data.id}}">
          </form>
          <div class="com-tit" id="agent_div"><span></span>企业旗下经纪人</div>
          <div id="ajax_agent_div">
            
          </div>
          

      </div>








      </div>
   </div>

       </div>
  </div>
</div>





{{include file='homepage/public/foot.html'}}
<script type="text/javascript" src="/manager_statics/app/lightbox-plus-jquery.min.js?v2"></script>
<script>

$(function(){
  /**
     * 模拟select
     **/
    $(".select-header").click(function(){
        $(this).parent().siblings(".select-box").find(".select-content").slideUp("fast");
        if($(this).siblings(".select-content").is(":hidden")){
            $(this).addClass("select-arrow");
            $(this).siblings(".select-content").slideDown("fast");
            var evt =  new Object;
            if ( typeof(window.event) == "undefined" ){//如果是火狐浏览器
                evt = arguments.callee.caller.arguments[0];
            }else{
                evt = event || window.event;
            }
            evt.cancelBubble = true;
        }else{
            $(this).removeClass("select-arrow");
            $(this).siblings(".select-content").slideUp("fast");
      //去除事件冒泡
            var evt =  new Object;
            if ( typeof(window.event) == "undefined" ){//如果是火狐浏览器
                evt = arguments.callee.caller.arguments[0];
            }else{
                evt = event || window.event;
            }
            evt.cancelBubble = true;
        }
    });
  $(document).click(function(){
        $(".select-header").removeClass("select-arrow");
        $(".select-content").slideUp("fast");
    });
    $(".select-content li").on("click",function(){
        $(this).parent().siblings(".select-header").removeClass("select-arrow");
        $(this).parent().siblings(".select-header").text($(this).text()).end().slideUp("fast");
        $(this).parent().siblings(".select-header").attr("data_id", $(this).attr("data_id"));
        ajax_event_table('event_form', 1);
    });
    $(".select-content li").hover(function(){
        $(this).css("background-color","#cfcfcf");
    },function(){
        $(this).css("background-color","#fff");
    });

 $("#search_btn").click(function(){
        $("#search_company_form").submit();
      })
});
 var agent_page = 1;
 var event_page = 1;
  ajax_agent_table('agent_form', 1);
  ajax_event_table('event_form', 1);
    function ajax_agent_table(form, page) {
        agent_page = page; //当前页面 保存为全局变量
        $.ajax({
            type: "POST",
            url: "/home/show_agent/" + page,//+tab,
            data: $('#' + form).serialize(),// 你的formid
            success: function (data) {
                $("#ajax_agent_div").html('');
                $("#ajax_agent_div").append(data);
            }
        });
    }

    function ajax_event_table(form, page) {
        event_page = page; //当前页面 保存为全局变量
        var year_ = $("#select_year").attr("data_id");
        var c_id_ = $("#c_id").val();
        $.ajax({
            type: "POST",
            url: "/home/show_company_record/" + page,//+tab,
            data: {c_id:c_id_, year:year_},// 你的formid
            success: function (data) {
                $("#ajax_event_div").html('');
                $("#ajax_event_div").append(data);
            }
        });
    }

    function cancel_agent(a_id){
      if(!a_id){
            layer.msg('操作异常!', {icon: 2});
            return false;
      }

      var layerIndex = layer.confirm('是否确认解绑？<br/>确认解绑后立即生效！' , {
            btn: ['确认','取消'], //按钮
            area: ['200px', 'auto'],
            icon: 7

        }, function(){
          var index_load = layer.load(0, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
             $.ajax({
                type: "POST",
                url: "/company/company_cancel_agent",//+tab,
                data: {a_id:a_id},
                success: function (data) {
                   layer.close(index_load);
                    var return_ = JSON.parse(data)
                    if (return_.status == 1) {
                       
                        layer.alert('操作成功!', {
                            skin: 'layui-layer-molv' //样式类名
                            ,closeBtn: 0
                        }, function(){
                            layer.closeAll();
                            ajax_agent_table('agent_form', agent_page);
                        });
                    }else{
                        layer.alert(return_.msg, {
                            skin: 'layui-layer-lan'
                            ,closeBtn: 0
                            ,anim: 4 //动画类型
                        });
                        ajax_agent_table('agent_form', agent_page);
                    }
                },
                error:function(){
                   layer.close(index_load);
                    layer.msg('网络异常!');
                }
            });

        }, function(){

        });
      
    }

</script>
</body>
</html>
