

<script type="text/javascript" src="/web_assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/layer/layer.js"></script>
<script type="text/javascript" src="http://180.97.207.15:8000/statics/js/dpl-jquery.slide.js"></script>

<script src="/web_assets/js/zepto.min.js?1.1.4"></script>
<script src="/web_assets/js/amazeui.js"></script>
<script src="/web_assets/js/app.js"></script>

<script src="/assets/js/DBY_common.js"></script>
<script>
    $("#JloginUser").mouseover(function(event) {
        $("#JuserMenu").show();
    }).parent().parent().mouseleave(function(event) {
        $("#JuserMenu").hide();
    });
</script>

